body {
    margin: 0;
    padding: 0;
}

.board {
    margin-top: 5px;
    width: 400px;
    height: 480px;
    background: url(../res/board.png) no-repeat;
    position: relative;
}

.face {
    width: 400px;
    height: 25px;
    border: 1px solid black;
    position: relative;
}

.hp_value {
    font-weight: bold;
    color: black;
}

.paiku {
    margin-top: 30px;
    width: 400px;
    float:left;
    height: 160px;
    background: url(../res/paiku.png) no-repeat;
    position: relative;
}

.card {
    width: 80px;
    height: 80px; 
    position: absolute;
}

.card_hp {
    position: absolute;
    right: 2px;
    bottom: -2px;
}

.card_hp {
    margin-right: 0;
}

.act-count {
    float: left;
}

.progress {
    margin-bottom: 0
}

.movable {
    background: green;
    opacity: 0.5;
}

.attackable {
    background: red;
    opacity: 0.5;
}

.selected {
    background: #5cb85c;
}

.yahei {
    font-family: 微软雅黑;
}

.card-normal {
    max-width: 65px;
    max-height: 65px;
    margin-left: 5px;
    margin-top: 5px;
}

.archer {
    margin-left: 15px;
}