body {
    margin: 0;
    padding: 0;
}

.board {
    margin-left: 300px;
    margin-top: 5px;
    width: 400px;
    height: 480px;
    background: url(../res/board.png) no-repeat;
    position: relative;
}

.face {
    width: 400px;
    height: 25px;
    margin-left: 299px;
    border: 1px solid black;
    position: relative;
}

.hp_line {
    width: 400px;
    height: 25px;
    background-color: red;
}

.hp_value {
    margin-left: 190px;
    padding-top: 3px;
    font-weight: bold;
}

.paiku {
    margin-top: 30px;
    margin-left: 300px;
    width: 400px;
    height: 160px;
    background: url(../res/paiku.png) no-repeat;
    position: relative;
}

.card {
    position: relative;
}