
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/cardset.js" type="text/javascript"></script>
    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cardset.css" rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript">
    var uid = <? echo $uid;?>
    </script>
    <div class="container" style="width:1000px">

      <? foreach($cards as $card): ?>
          <div class='card'>
              <div class='pic'>
                 <img class="pic" src="res/<? echo $card['img'];?>" />
              </div>
              <div class='info'>
                  <span style="float:left;width:70px">HP: <? echo $card['HP']; ?></span>攻击力：<? echo $card['AT']; ?><br />
                  <span style="float:left;width:70px">移动力：<? echo $card['MD']; ?></span>攻击距离：<? echo $card['AD']; ?><br />
              </div>
              <div style="float:left;margin-left:10px">
                <img class='like' id='<? echo $card['id'];?>' src="res/<? echo $card['likepic'];?>" />
              </div>
              <div style="clear:both"></div>
              
          </div><!-- /.girl -->
          <?php endforeach;?>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
